<h1 class="titulo">Formulario Productos</h1>

<form action="/productos" method="post">
    <input type="text" name="title" placeholder="Titulo">
    <input type="text" name="price" placeholder="Precio">
    <input type="text" name="thumbnail" placeholder="Miniatura">
    <button type="submit"> Enviar :]</button>
</form>

<a href="/productos"><button>Volver a productos</button></a>